<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps</title>

</head>

<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header">
        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                Favo Restaurants
            </h1>
        </div>
        <button tabindex="0" aria-label="humberger menu" id="menu" class="header__menu">☰</button>
    </header>
    <nav tabindex="0" id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a tabindex="0" href="/">Home</a></li>
            <li class="nav__item"><a tabindex="0" href="#">Favorite</a></li>
            <li class="nav__item"><a tabindex="0" href="https://www.linkedin.com/in/intanduano2710/">About Us</a></li>
        </ul>
    </nav>
    <div tabindex="0" class="hero">
    </div>
    <main>
        <section class="content">

            <h1 tabindex="0" class="latest__label">Restoran Terbaik</h1>
            <div tabindex="0" class="posts" id="maincontent">

                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Gambar Restaurant Bring Your Phone Cafe">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">4.6</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Medan</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restaurant Run The Gun">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Run The Gun</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">4.6</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Bali</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Gambar Restaurant Pangsit Express">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Pangsit Express</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div class="rating">4.8</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Ternate</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>


                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Gambar Restaurant Ducky Duck">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Ducky Duck</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">4.7</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Malang</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>


                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Gambar Restaurant Kafein">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Kafein</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">3.8</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Bali</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>


                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Gambar Restaurant Makan mudah">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Makan mudah</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">4.6</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                            fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Malang</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>


                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Gambar Restaurant Saya Suka">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Saya Suka</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">3.6</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Surabaya</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gambar Restaurant Gigitan Cepat">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Gigitan Cepat</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div class="rating">4.0</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Aceh</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <img tabindex="0" class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Gambar Restaurant Fairy Cafe">
                    <div tabindex="0" class="post-item__content">
                        </p>
                        <h1 tabindex="0" class="post-item__title"><a href="#">Fairy Cafe</a></h1>
                        <h2 tabindex="0" class="post-item__rating">Rating:
                            <div tabindex="0" class="rating">3.9</div>
                        </h2>
                        <p tabindex="0" class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                        <h4 tabindex="0" class="post-item__city">City:
                            <div tabindex="0" class="city">Malang</div>
                        </h4>
                        <a tabindex="0" href="https://www.instagram.com/tans.smith/" class="socmed-link">Info Restaurant Contact</a><br>
                        <button tabindex="0" class="button-item">Check For More</button>
                    </div>
                </article>

            </div>
        </section>

        <div tabindex="0" class="hero2">
            <div class="hero__inner">
                <h1 class="hero__title">Menu Terbaik</h1>
            </div>
        </div>

        <section class="content">
            <div tabindex="0" class="posts">

                <article tabindex="0" class="post-item">
                    <div tabindex="0" class="best-menu1">
                        <div class="best-inner">
                            <h1 class="best-title">Wonton Fried</h1>
                        </div>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <div tabindex="0" class="best-menu2">
                        <div class="best-inner">
                            <h1 class="best-title">Ayam Bakar</h1>
                        </div>
                    </div>
                </article>

                <article tabindex="0" class="post-item">
                    <div tabindex="0" class="best-menu3">
                        <div class="best-inner">
                            <h1 class="best-title">Sate Satean</h1>
                        </div>
                    </div>
                </article>

            </div>
        </section>

    </main>
    <footer>
        <ul>
            <li><a tabindex="0" href="https://www.instagram.com/tans.smith/">Social Media</a></li>
            <li><a tabindex="0" href="https://www.linkedin.com/in/intanduano2710/">About</a></li>
            <li><a tabindex="0" href="mailto:intan.duano27@gmail.com">Contact</a></li>
        </ul>
        <h5>&copy; Copyright 2023 by Favo Restaurant</h5>
    </footer>
</body>

</html>